body {
  padding-top: 50px;
}

#navbar {
  background-color: #660b17;
}

#text {
  background-color: #e82e25;
  color: #fff;
}

#background-image {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 600px;
  background-image: url(../zombie-emporium/images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 700px;
  background-position: top center;
  background-attachment: fixed;
}

#store {
  font-size: 3em;
  font-family: 'Pirata-One', Georgia, serif;
  color: #bca80f;
  margin-left: 30%;
  margin-top: 5%;
}

#logo {
  position: absolute;
  width: 100%;
  height: 200px;
  background-image: url(../zombie-emporium/images/logo.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 200px;
  top: 15%;
  margin-top: -80px;
  left: -700px;
}
